{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список завдань</h1>
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">Профиль</a>


    {% if tasks %}
        <table class="table table-hover align-middle shadow-sm">
            <thead class="table-light">
                <tr>
                    <th>Назва</th>
                    <th>Статус</th>
                    <th>Зарплата</th>
                    <th>Тип</th>
                    <th>Пріоритет</th>
                    <th>Термін</th>
                    <th>Автор</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'task-detail' task.id %}" class="text-decoration-none text-primary">{{ task.title }}</a></td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.price }}$</td>
                        <td>{{ task.get_type_display }}</td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.deadline|date:"d.m.Y H:i" }}</td>
                        <td>{{ task.author.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">Поки що немає завдань.</p>
    {% endif %}
</div>
{% endblock %}
