{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Список завдань</h1>
    <a href="{% url 'task-create' %}" class="btn btn-primary mb-3">Створити завдання</a>

    {% if tasks %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Назва</th>
                    <th>Статус</th>
                    <th>Зарплата</th>
                    <th>Тип</th>
                    <th>Пріоритет</th>
                    <th>Термін</th>
                    <th>Автор</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'task-detail' task.id %}">{{ task.title }}</a></td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.price }}$</td>
                        <td>{{ task.get_type_display }}</td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.deadline|date:"d.m.Y H:i" }}</td>
                        <td>{{ task.author.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Поки що немає завдань.</p>
    {% endif %}
</div>
{% endblock %}
